<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="home-doctor.jsp"> DOCTOR <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="fecha_drop_down" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fecha del sistema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="cambiar-fecha.jsp">Cambiar fecha del sistema</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ingresos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CITAS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">        
          <a class="dropdown-item" href="reporte-mostrar-cita-dia.jsp">Citas pendientes dia actual</a>
          <a class="dropdown-item" href="ingreso-datos-reporte-mostrar-cita-intervalo.jsp">Citas en un intervalo de tiempo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Otros reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Historial medico de pacientes</a>
          <a class="dropdown-item" href="#">Pacientes con mayor cantidad de informes medicos en un intervalo de tiempo</a>         
        </div>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="#">USUARIO: <% out.print(session.getAttribute("codigo")); %></a>
  <a class="navbar-brand" href="#">FECHA: <% out.print(session.getAttribute("fecha_sistema")); %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>