<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="home-admin.jsp"> ADMINISTRADOR <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="fecha_drop_down" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fecha del sistema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="cambiar-fecha.jsp">Cambiar fecha del sistema</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ingresos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          INGRESOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ingreso-examen.jsp">Ingresar examen</a>
          <a class="dropdown-item" href="ingreso-laboratorista.jsp">Ingresar laboratorista</a>
          <a class="dropdown-item" href="ingreso-administrador.jsp">Ingresar administrador</a>
          <a class="dropdown-item" href="ingreso-doctor.jsp">Ingresar doctor</a>    
          <a class="dropdown-item" href="ingreso-especialidad.jsp">Ingresar especialidad a un medico</a>  
          <a class="dropdown-item" href="ingreso-consulta.jsp">Ingresar consulta</a>  
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="modificaciones" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VER REGISTROS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ingreso-mostrar-pacientes.jsp?destino=actualizar-datos-paciente.jsp">Ver y modificar pacientes</a>
          <a class="dropdown-item" href="ingreso-mostrar-doctor.jsp?destino=actualizar-datos-doctor.jsp">Ver y modificar medicos</a>
          <a class="dropdown-item" href="ingreso-mostrar-laboratorista.jsp?destino=actualizar-datos-laboratorista.jsp">Ver y y modificar laboratoristas</a>
          <a class="dropdown-item" href="ingreso-mostrar-examen-por-tipo.jsp?destino=actualizar-datos-examen.jsp">Ver y modificar examenes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ingreso-intervalo-tiempo.jsp?destino=reporte-mostrar-medicos-con-mas-informes.jsp">Los 10 medicos que mas informes han realizado dentro de un intervalo de tiempo</a>
          <a class="dropdown-item" href="ingreso-intervalo-tiempo.jsp?destino=reporte-ingreso-por-medico.jsp">Ingresos obtenidos por medico en un intervalo de tiempo</a>
          <a class="dropdown-item" href="ingreso-intervalo-tiempo.jsp?destino=reporte-5-medicos-con-menos-citas.jsp">Los 5 medicos con menor cantidad de citas dentro de un intervalo de tiempo</a>
          <a class="dropdown-item" href="ingreso-intervalo-tiempo.jsp?destino=reporte-examenes-mas-demandados.jsp">Los exmenes de laboratorio mas demandados en un intervalo de tiempo</a>
          <a class="dropdown-item" href="ingreso-intervalo-tiempo.jsp?destino=reporte-medicos-con-mas-examenes-pedidos.jsp">Los medicos con mayor cantidad de examenes de laboratorio requeridos</a>          
          <a class="dropdown-item" href="ingreso-intervalo-tiempo.jsp?destino=reporte-ingreso-por-paciente.jsp">Ingresos obtenidos por paciente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sesion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../index.jsp">Cerrar Sesion</a>      
        </div>
      </li>
    </ul>
  </div>    
  <a class="navbar-brand" href="#">USUARIO: <% out.print(session.getAttribute("codigo")); %></a>  
  <a class="navbar-brand" href="#">FECHA: <% out.print(session.getAttribute("fecha_sistema")); %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>