<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="home-paciente.jsp"> PACIENTE <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="fecha_drop_down" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fecha del sistema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="cambiar-fecha.jsp">Cambiar fecha del sistema</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ingresos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          AGENDAR
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ingreso-mostrar-doctor.jsp">Agendar citas</a> 
          <a class="dropdown-item" href="ingreso-mostrar-examen-por-tipo.jsp">Agendar examenes de laboratorio</a> 
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="modificaciones" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MODIFICACIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Modificar perfil</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ultimos 5 examenes realizados</a>
          <a class="dropdown-item" href="#">Cantidad de examenes de un tipo</a>
          <a class="dropdown-item" href="#">Ultimas 5 consultas realizadas</a>
          <a class="dropdown-item" href="#">Cantidad de consultas con un medico</a>
          <a class="dropdown-item" href="#">Ver historial medico</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="reportes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sesion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../index.jsp">Cerrar Sesion</a>      
        </div>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="#">USUARIO: <% out.print(session.getAttribute("codigo")); %></a>
  <a class="navbar-brand" href="#">FECHA: <% out.print(session.getAttribute("fecha_sistema")); %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>